

// @import './variables';
// @import './mixins';
@use 'variables';
@use 'mixins';


.card {
  @include card-shadow(); // use the mixin here
  @include smooth-transition(); // use smooth-transition mixin

  border-radius: $border-radius;
  overflow: hidden;

  -webkit-border-radius: $border-radius;
  -moz-border-radius: $border-radius;
  -ms-border-radius: $border-radius;
  -o-border-radius: $border-radius;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
  }
}
