



@use './variables' as v;
@use './mixins' as m;

.card {
  @include m.card-shadow;       // use mixin from _mixins.scss
  @include m.smooth-transition; // use transition mixin

  border-radius: v.$border-radius; // use variable from _variables.scss
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 15px #00000033; // hover effect
  }
}
